/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
}

header { 
    height: 80px;
    margin-bottom: 0;
    padding: 0 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 20px;
    width: auto;
}

.menu_nav {
    padding-top: 6px;
}

.nav a {
    margin: 2px 30px;
    position: relative;
    text-decoration: none;
    border-top: 2px solid transparent;
    padding-top: 10px;
}

.nav a:hover {
    border-top: 2.5px solid #0065FC;
    padding-top: 5px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****** Section avec fonction de recherche et filtres ***********/
.infogroup {
    height: 280px;
    width: 100%;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.search {
    width: 100%;
}

.title_infogroup,
.search-form,
.filters_infogroup {
    margin: 12px 0px;
    padding: 8px 0px;
    flex: 1;
}

.bottom-infogroup {
    margin: 10px 0px;
    padding: 0px;
    flex-grow: 1;
    flex-basis: 40%; 
}

.input-with-image {
    border-radius: 10px;
    height: 40px;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 1;
}


.input-with-image i {
    margin: 0;
    padding-right: 2px;
    background-color: #F2F2F2;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.input-with-image input {
    margin-right: 2px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
    height: 100%;

}

.input-with-image input::placeholder {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
}

.input-with-image button {
    border: none;
    background-color: #0065FC;
    color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.filters_infogroup {
    display: flex;
    align-items: center;
    width: 900px;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    width: 720px;
    margin-left: 10px;
}

.filter-btn {
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    background-color: white;
    box-shadow: none;
    height: 40px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    padding: 0;
    flex: 1;
}

.filter-btn:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter-btn i {
    margin-right: 8px;
}

.bottom-infogroup {
    display: flex; 
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.bottom-infogroup i {
    margin-right: 10px;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** Création des cards ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.hebergements-cards a {
    width: 33%;
    
}
.hebergements-cards .card {
    margin: 10px;
    height: 200px; 
}

.hebergements-cards .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.Activities {
    width: 100%;
    height: 550px;
    margin-top: 40px;
    padding: 30px;
}

.Activities-title {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.Activities-cards {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    height: 80%;
}

.Activities-cards a {
    width: 25%;
    height: 100%;
    
}
.Activities-cards .card {
    width: 90%;
    height: 100%; 
    margin: 10px;
    padding: 0;
    
}

.Activities-cards .card img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.Activities-cards .card-content {
    padding: 15px 12px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .search-form {
        padding: 0;
    }

    .title_infogroup {
        padding: 0;
        margin-top: 0;
    }

    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .title_infogroup {
        font-size: 14px;
    }
    .menu_nav {
        width: 100%;
        text-align: center;
    }
    .menu_nav a {
        width: 100%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .nav a {
        margin: 3px 15px;
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding-bottom: 10px;
    }
    
    .nav a:hover {
        border-top: none;
        border-bottom: 2.5px solid #0065FC;
        padding-bottom: 5px;
    }

    .infogroup {
        margin-top: 10px;
        
    }
   
    .search-form {
        padding: 0;
    }

    .title_infogroup {
        padding: 0;
        margin-top: 0;
    }

    .filters_infogroup {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .filter-buttons {
        display:flex;
        flex-wrap: wrap;
    }

    .filter-btn {
        margin: 4px 8px;
    }

    .hebergements-cards {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .Activities-cards {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .Activities-cards a {
        width: 100%;
        height: 60%;
        margin-left: 5px;
        margin-bottom: 20px;
    }

}